input[type=checkbox] {
    position: relative;
    cursor: pointer;
}

input[type=checkbox]:before {
    content: "";
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0;
    left: 0;
    background-color:#e9e9e9;
}

input[type=checkbox]:checked:before {
    content: "";
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0;
    left: 0;
    background-color:#1E80EF;
}

input[type=checkbox]:checked:after {
    content: "";
    display: block;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    top: 2px;
    left: 6px;
}

input[type=radio] {
    position: relative;
    cursor: pointer;
}

input[type=radio]:before {
    content: "";
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 5rem;
    top: 0;
    left: 0;
    background-color:#e9e9e9;
}

input[type=radio]:checked:before {
    content: "";
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0;
    left: 0;
    background-color:#1E80EF;
}

input[type=radio]:checked:after {
    content: "";
    display: block;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    top: 2px;
    left: 6px;
}


i {
  border: solid gray;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 2px;
}

.right {
  float: right;
}

.left {
  float: left;
}
/* GRID SYSTEM */
.section {
  clear: both;
  padding: 0px;
  margin: 0px;
}

.col {
  display: block;
  float:left;
  margin: 1% 0 1% 1.6%;
}
.col:first-child { 
  margin-left: 0; 
}

.group:before,.group:after { 
  content:""; 
  display:table; 
}

.group:after { 
  clear:both;
}
.group { 
  zoom:1; /* For IE 6/7 */ 
}

.group-12 {
  width: 100%;
}

.group-11 {
    width: 91.53%;
}
.group-10 {
    width: 83.06%;
}

.group-9 {
    width: 74.6%;
}

.group-8 {
    width: 66.13%;
}

.group-7 {
    width: 57.66%;
}

.group-6 {
    width: 49.2%;
}

.group-5 {
    width: 40.73%;
}

.group-4 {
    width: 32.26%;
}

.group-3 {
    width: 23.8%;
}

.group-2 {
    width: 15.33%;
}

.group-1 {
    width: 6.866%;
}

@media only screen and (max-width: 480px) {
  .col {  
    margin: 1% 0 1% 0%; 
  }    
  .group-1, .group-2, .group-3, .group-4, .group-5, .group-6, .group-7, .group-8, .group-9, .group-10, .group-11, .group-12 {
    width: 100%; 
  }
}
/* ----------*/
