.table-striped {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

.table-bordered {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

.table-header {
	font-weight: thick
}


.table-striped tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color:#f5f5f5;
}


.scrollOnTable{
  display: block;
  empty-cells: show;
  border-spacing: 0;
}

.scrollOnTable thead{
  background-color: #f1f1f1;  
  position:relative;
  display: block;
  width:100%;
  overflow-y: scroll;
}

.scrollOnTable tbody{
  display: block; position:relative;
  width:100%; overflow-y:scroll;
  max-height: 50vh;
}

.scrollOnTable tr{
  width: 100%;
  display:flex;
}

.scrollOnTable td,.scrollOnTable th{
  flex-basis:100%;
  flex-grow:2;
  display: block;
  padding: 1rem;
  text-align:left;
}

.scrollOnTable ::-webkit-scrollbar {
  width: 10px;
}

.scrollOnTable ::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}

.scrollOnTable ::-webkit-scrollbar-thumb {
  background: gray; 
  border-radius: 10px;
}

.scrollOnTable ::-webkit-scrollbar-thumb:hover {
  background: #d3d3d3; 
}
 
.rowsHeight16 td {
  text-align: left;
  padding: 16px;
}

.rowsHeight15 td {
  text-align: left;
  padding: 15px;
}

.rowsHeight14 td {
  text-align: left;
  padding: 14px;
}

.rowsHeight13 td {
  text-align: left;
  padding: 13px;
}

.rowsHeight12 td {
  text-align: left;
  padding: 12px;
}

.rowsHeight11 td {
  text-align: left;
  padding: 11px;
}

.rowsHeight10 td {
  text-align: left;
  padding: 10px;
}

.rowsHeight9 td {
  text-align: left;
  padding: 9px;
}

.rowsHeight8 td {
  text-align: left;
  padding: 8px;
}

.rowsHeight7 td {
  text-align: left;
  padding: 7px;
}

.rowsHeight6 td {
  text-align: left;
  padding: 6px;
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.table-header-cursour {
	cursor: pointer;
}

.pagination {
  margin-top: 15px;
  display: inline-block;
}

.pagination a {
  color: black;
  border: 1px solid #bbbbbb;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination a.active {
  background-color: #bbbbbb;
  color: white;
}

.pagination a:hover:not(.active) {
	background-color: #ddd;
}