.table-striped {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

.table-bordered {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

.table-header {
	font-weight: thick
}


.table-striped tr:nth-child(even) {
  background-color: #f2f2f2;
}

.rowsHeight16 th, td {
  text-align: left;
  padding: 16px;
}

.rowsHeight15 th, td {
  text-align: left;
  padding: 15px;
}

.rowsHeight14 th, td {
  text-align: left;
  padding: 14px;
}

.rowsHeight13 th, td {
  text-align: left;
  padding: 13px;
}

.rowsHeight12 th, td {
  text-align: left;
  padding: 12px;
}

.rowsHeight11 th, td {
  text-align: left;
  padding: 11px;
}

.rowsHeight10 th, td {
  text-align: left;
  padding: 10px;
}

input[type=checkbox] {
    position: relative;
    cursor: pointer;
}

input[type=checkbox]:before {
    content: "";
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0;
    left: 0;
    background-color:#e9e9e9;
}

input[type=checkbox]:checked:before {
    content: "";
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0;
    left: 0;
    background-color:#1E80EF;
}

input[type=checkbox]:checked:after {
    content: "";
    display: block;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    top: 2px;
    left: 6px;
}


i {
  border: solid gray;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 2px;
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.table-header-cursour {
	cursor: pointer;
}

.pagination {
  margin-top: 15px;
  display: inline-block;
}

.pagination a {
  color: black;
  border: 1px solid #bbbbbb;
  border-radius: 5px;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination a.active {
  background-color: #bbbbbb;
  color: white;
}

.pagination a:hover:not(.active) {
	background-color: #ddd;
}

.right {
  float: right;
}

.left {
  float: left;
}

.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button-gray {
  background-color: white;
  color: black;
  border: 2px solid #e7e7e7;
}

.button-gray:hover {
	background-color: #e7e7e7;
}