.input {
    background: #fff;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    box-sizing: border-box;
    padding: 10px 15px;
    color: #222;
    position: relative;
    z-index: 9;
    border: 1px solid gray;
}